# INTRODUCTION TO R
#### Material based on: 
* [Applied Statistics with R by David Dalpiaz](https://daviddalpiaz.github.io/appliedstats/)

## RStudio

[RStudio](https://www.rstudio.com/)  
[Rstudio Cheat Sheets](https://www.rstudio.com/resources/cheatsheets/)

## Data Types:
    * Numeric (1, 42.0, 55.3)
    * Integer (1L, 5L, 10L)
    * Complex (1+3i)
    * Logical (TRUE, FALSE)
    * Character ('a', "multiple letters")

## Vectors:

### Vector Creation:

In [3]:
c(1,3,5,7,9,11)

[1]  1  3  5  7  9 11

In [5]:
-10:10

 [1] -10  -9  -8  -7  -6  -5  -4  -3  -2  -1   0   1   2   3   4   5   6   7   8
[20]   9  10

In [6]:
seq(from = 1.5, to = 5.3, by = 0.3)

 [1] 1.5 1.8 2.1 2.4 2.7 3.0 3.3 3.6 3.9 4.2 4.5 4.8 5.1

In [7]:
rep(1, times = 5)

[1] 1 1 1 1 1

In [8]:
rep(1:3, times = 2, each = 2)

 [1] 1 1 2 2 3 3 1 1 2 2 3 3

In [11]:
rep(1:3, c(3,1,2))

[1] 1 1 1 2 3 3

### Vector Indexing:

In [12]:
a = -5:4
length(a)

[1] 10

In [13]:
a[3]

[1] -3

In [14]:
a[-5]

[1] -5 -4 -3 -2  0  1  2  3  4

In [15]:
a[2:5]

[1] -4 -3 -2 -1

In [16]:
a[c(1,7,8)]

[1] -5  1  2

In [17]:
ind = c(TRUE, TRUE, TRUE, FALSE)
a[ind]

[1] -5 -4 -3 -1  0  1  3  4

### Vector Operations:

In [18]:
a + 1

 [1] -4 -3 -2 -1  0  1  2  3  4  5

In [19]:
a * 2

 [1] -10  -8  -6  -4  -2   0   2   4   6   8

In [20]:
2^a

 [1]  0.03125  0.06250  0.12500  0.25000  0.50000  1.00000  2.00000  4.00000
 [9]  8.00000 16.00000

In [22]:
sqrt(a+5)

 [1] 0.000000 1.000000 1.414214 1.732051 2.000000 2.236068 2.449490 2.645751
 [9] 2.828427 3.000000

In [23]:
log(a)

Warning message in log(a):
“NaNs produced”

 [1]       NaN       NaN       NaN       NaN       NaN      -Inf 0.0000000
 [8] 0.6931472 1.0986123 1.3862944

In [24]:
a+5 > 4

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE  TRUE  TRUE  TRUE  TRUE

In [25]:
a+5 == 5

 [1] FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE FALSE

In [26]:
a+5 != 7

 [1]  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE  TRUE FALSE  TRUE  TRUE

In [28]:
a+5 > 5 & a+5 < 7

 [1] FALSE FALSE FALSE FALSE FALSE FALSE  TRUE FALSE FALSE FALSE

In [29]:
a[a>3]

[1] 4

In [30]:
which(a+5>5)

[1]  7  8  9 10

In [32]:
a[which(a+5>5)]

[1] 1 2 3 4

In [34]:
which.max(a)
a[10]

[1] 10

[1] 4

In [35]:
y = c(1,2,3)

In [36]:
a + y

Warning message in a + y:
“longer object length is not a multiple of shorter object length”

 [1] -4 -2  0 -1  1  3  2  4  6  5

In [38]:
all(a+5 + rep(y, 4, 10), a+5 + y)

Warning message in a + 5 + y:
“longer object length is not a multiple of shorter object length”Warning message in all(a + 5 + rep(y, 4, 10), a + 5 + y):
“coercing argument of type 'double' to logical”Warning message in all(a + 5 + rep(y, 4, 10), a + 5 + y):
“coercing argument of type 'double' to logical”

[1] TRUE

In [39]:
a %*% a

     [,1]
[1,] 85

In [40]:
a %o% a

      [,1] [,2] [,3] [,4] [,5] [,6] [,7] [,8] [,9] [,10]
 [1,]  25   20   15  10    5   0    -5   -10  -15  -20
 [2,]  20   16   12   8    4   0    -4    -8  -12  -16
 [3,]  15   12    9   6    3   0    -3    -6   -9  -12
 [4,]  10    8    6   4    2   0    -2    -4   -6   -8
 [5,]   5    4    3   2    1   0    -1    -2   -3   -4
 [6,]   0    0    0   0    0   0     0     0    0    0
 [7,]  -5   -4   -3  -2   -1   0     1     2    3    4
 [8,] -10   -8   -6  -4   -2   0     2     4    6    8
 [9,] -15  -12   -9  -6   -3   0     3     6    9   12
[10,] -20  -16  -12  -8   -4   0     4     8   12   16

## Matrices
### Matrix Creation:

In [41]:
A = matrix(a, 2, 5)
A

     [,1] [,2] [,3] [,4] [,5]
[1,] -5   -3   -1   1    3
[2,] -4   -2    0   2    4

In [42]:
A = matrix(a, 2, 5, byrow = TRUE)
A

     [,1] [,2] [,3] [,4] [,5]
[1,] -5   -4   -3   -2   -1
[2,]  0    1    2    3    4

In [43]:
B = matrix(1:9, 3, 3)
B
B[2,3]

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

[1] 8

In [44]:
B[1,]

[1] 1 4 7

In [45]:
B[,2]

[1] 4 5 6

In [46]:
B[2, c(1,3)]

[1] 2 8

In [47]:
B[1:2, ]

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8

In [48]:
C = rbind(1:3, 3:1, 2)
C

     [,1] [,2] [,3]
[1,] 1    2    3
[2,] 3    2    1
[3,] 2    2    2

In [49]:
(B + C) *  C / C - C

     [,1] [,2] [,3]
[1,] 1    4    7
[2,] 2    5    8
[3,] 3    6    9

In [50]:
B %*% C

     [,1] [,2] [,3]
[1,] 27   24   21
[2,] 33   30   27
[3,] 39   36   33

In [51]:
t(C)

     [,1] [,2] [,3]
[1,] 1    3    2
[2,] 2    2    2
[3,] 3    1    2

In [52]:
Z = cbind(3:5, c(15.3, 18.2, 7), 77:79)
solve(Z)

     [,1]        [,2]        [,3]
[1,] -0.85470577  0.64184397  0.199348284
[2,] -0.07092199  0.14184397 -0.070921986
[3,]  0.06037953 -0.05319149  0.006325474

In [53]:
dim(A)

[1] 2 5

In [54]:
rowSums(A)

[1] -15  10

In [55]:
colSums(A)

[1] -5 -3 -1  1  3

In [56]:
rowMeans(A)

[1] -3  2

## Lists:

In [57]:
list1 = list(33.3, "abc", TRUE)
list1

[[1]]
[1] 33.3

[[2]]
[1] "abc"

[[3]]
[1] TRUE

In [58]:
list1[1]

[[1]]
[1] 33.3

In [59]:
list1[[1]]

[1] 33.3

In [60]:
list2 = list(a = c(1,3,7) , b = TRUE, c = diag(5))
list2

$a
[1] 1 3 7

$b
[1] TRUE

$c
     [,1] [,2] [,3] [,4] [,5]
[1,]    1    0    0    0    0
[2,]    0    1    0    0    0
[3,]    0    0    1    0    0
[4,]    0    0    0    1    0
[5,]    0    0    0    0    1

In [61]:
list2$c

     [,1] [,2] [,3] [,4] [,5]
[1,] 1    0    0    0    0
[2,] 0    1    0    0    0
[3,] 0    0    1    0    0
[4,] 0    0    0    1    0
[5,] 0    0    0    0    1

## Data Frames:

In [62]:
ExampleDF = data.frame(ints = seq(2, 20, 2), Chars = LETTERS[1:10], Logical = rep(c(TRUE, FALSE, FALSE, TRUE), 3, 10))

In [63]:
ExampleDF

   ints Chars Logical
1   2   A      TRUE
2   4   B     FALSE
3   6   C     FALSE
4   8   D      TRUE
5  10   E      TRUE
6  12   F     FALSE
7  14   G     FALSE
8  16   H      TRUE
9  18   I      TRUE
10 20   J     FALSE

In [64]:
ExampleDF$ints

 [1]  2  4  6  8 10 12 14 16 18 20

In [65]:
ExampleDF[1]

   ints
1   2
2   4
3   6
4   8
5  10
6  12
7  14
8  16
9  18
10 20

In [66]:
ExampleDF[[1]]

 [1]  2  4  6  8 10 12 14 16 18 20

In [67]:
ExampleDF[7,]

  ints Chars Logical
7 14   G     FALSE

In [68]:
ExampleDF[,3]

 [1]  TRUE FALSE FALSE  TRUE  TRUE FALSE FALSE  TRUE  TRUE FALSE

In [69]:
ExampleDF[8,2]

[1] H
Levels: A B C D E F G H I J

In [70]:
dim(ExampleDF)

[1] 10  3

## Programming/Control Flow

In [71]:
if (3 > 5){
    print(3)
} else {
    print(5)
}

[1] 5

In [72]:
x = 1:10
ifelse(x > 3, "YES", "NO")

 [1] "NO"  "NO"  "NO"  "YES" "YES" "YES" "YES" "YES" "YES" "YES"

In [74]:
for (i in 20:25){
    print(i)
}
print(20:25)

[1] 20
[1] 21
[1] 22
[1] 23
[1] 24
[1] 25
[1] 20 21 22 23 24 25

In [75]:
temp = 3
while (temp < 14){
    temp = temp + 2
    print(temp)
}

[1] 5
[1] 7
[1] 9
[1] 11
[1] 13
[1] 15

In [76]:
set.seed(10)
func = function(arg1 = 33, arg2 = 55){
    a = 1:arg1
    b = sample(1:arg2, arg1)
    return(a %*% b)
}

In [77]:
func()

     [,1]
[1,] 14964

In [78]:
func(21)

     [,1]
[1,] 6271

In [79]:
func(3, 5)

     [,1]
[1,] 13

### Apply and Aggregate:

In [80]:
exampledf2 = data.frame(state.x77)
exampledf2$chr = rep(as.factor(LETTERS[1:5]), 10)
exampledf2

               Population Income Illiteracy Life.Exp Murder HS.Grad Frost
Alabama         3615      3624   2.1        69.05    15.1   41.3     20
Alaska           365      6315   1.5        69.31    11.3   66.7    152
Arizona         2212      4530   1.8        70.55     7.8   58.1     15
Arkansas        2110      3378   1.9        70.66    10.1   39.9     65
California     21198      5114   1.1        71.71    10.3   62.6     20
Colorado        2541      4884   0.7        72.06     6.8   63.9    166
Connecticut     3100      5348   1.1        72.48     3.1   56.0    139
Delaware         579      4809   0.9        70.06     6.2   54.6    103
Florida         8277      4815   1.3        70.66    10.7   52.6     11
Georgia         4931      4091   2.0        68.54    13.9   40.6     60
Hawaii           868      4963   1.9        73.60     6.2   61.9      0
Idaho            813      4119   0.6        71.87     5.3   59.5    126
Illinois       11197      5107   0.9        70.14    10.3   52.6    127
Indiana         5313      4458   0.7        70.88     7.1   52.9    122
Iowa            2861      4628   0.5        72.56     2.3   59.0    140
Kansas          2280      4669   0.6        72.58     4.5   59.9    114
Kentucky        3387      3712   1.6        70.10    10.6   38.5     95
Louisiana       3806      3545   2.8        68.76    13.2   42.2     12
Maine           1058      3694   0.7        70.39     2.7   54.7    161
Maryland        4122      5299   0.9        70.22     8.5   52.3    101
Massachusetts   5814      4755   1.1        71.83     3.3   58.5    103
Michigan        9111      4751   0.9        70.63    11.1   52.8    125
Minnesota       3921      4675   0.6        72.96     2.3   57.6    160
Mississippi     2341      3098   2.4        68.09    12.5   41.0     50
Missouri        4767      4254   0.8        70.69     9.3   48.8    108
Montana          746      4347   0.6        70.56     5.0   59.2    155
Nebraska        1544      4508   0.6        72.60     2.9   59.3    139
Nevada           590      5149   0.5        69.03    11.5   65.2    188
New Hampshire    812      4281   0.7        71.23     3.3   57.6    174
New Jersey      7333      5237   1.1        70.93     5.2   52.5    115
New Mexico      1144      3601   2.2        70.32     9.7   55.2    120
New York       18076      4903   1.4        70.55    10.9   52.7     82
North Carolina  5441      3875   1.8        69.21    11.1   38.5     80
North Dakota     637      5087   0.8        72.78     1.4   50.3    186
Ohio           10735      4561   0.8        70.82     7.4   53.2    124
Oklahoma        2715      3983   1.1        71.42     6.4   51.6     82
Oregon          2284      4660   0.6        72.13     4.2   60.0     44
Pennsylvania   11860      4449   1.0        70.43     6.1   50.2    126
Rhode Island     931      4558   1.3        71.90     2.4   46.4    127
South Carolina  2816      3635   2.3        67.96    11.6   37.8     65
South Dakota     681      4167   0.5        72.08     1.7   53.3    172
Tennessee       4173      3821   1.7        70.11    11.0   41.8     70
Texas          12237      4188   2.2        70.90    12.2   47.4     35
Utah            1203      4022   0.6        72.90     4.5   67.3    137
Vermont          472      3907   0.6        71.64     5.5   57.1    168
Virginia        4981      4701   1.4        70.08     9.5   47.8     85
Washington      3559      4864   0.6        71.72     4.3   63.5     32
West Virginia   1799      3617   1.4        69.48     6.7   41.6    100
Wisconsin       4589      4468   0.7        72.48     3.0   54.5    149
Wyoming          376      4566   0.6        70.29     6.9   62.9    173
               Area   chr
Alabama         50708 A
Alaska         566432 B
Arizona        113417 C
Arkansas        51945 D
California     156361 E
Colorado       103766 A
Connecticut      4862 B
Delaware         1982 C
Florida         54090 D
Georgia         58073 E
Hawaii           6425 A
Idaho           82677 B
Illinois        55748 C
Indiana         36097 D
Iowa            55941 E
Kansas          81787 A
Kentucky        39650 B
Louisiana       44930 C
Maine           30920 D
Maryland         9891 E
Massachusetts    7826 A
Michigan        56817 B
Minnesota       79289 C
Mississippi     47296 D
Missouri        68995 E
Montana        145587 A
Nebraska        76483 B
Nevada         109889 C
New Hampshire    9027 D
New Jersey       7521 E
New Mexico     121412 A
New York        47831 B
North Carolina  48798 C
North Dakota    69273 D
Ohio            40975 E
Oklahoma        68782 A
Oregon          96184 B
Pennsylvania    44966 C
Rhode Island     1049 D
South Carolina  30225 E
South Dakota    75955 A
Tennessee       41328 B
Texas          262134 C
Utah            82096 D
Vermont          9267 E
Virginia        39780 A
Washington      66570 B
West Virginia   24070 C
Wisconsin       54464 D
Wyoming         97203 E

In [81]:
lapply(exampledf2$Population, sqrt)

[[1]]
[1] 60.12487

[[2]]
[1] 19.10497

[[3]]
[1] 47.0319

[[4]]
[1] 45.93474

[[5]]
[1] 145.5953

[[6]]
[1] 50.40833

[[7]]
[1] 55.67764

[[8]]
[1] 24.06242

[[9]]
[1] 90.97802

[[10]]
[1] 70.22108

[[11]]
[1] 29.46184

[[12]]
[1] 28.51315

[[13]]
[1] 105.8159

[[14]]
[1] 72.89033

[[15]]
[1] 53.48832

[[16]]
[1] 47.74935

[[17]]
[1] 58.19794

[[18]]
[1] 61.69279

[[19]]
[1] 32.52691

[[20]]
[1] 64.2028

[[21]]
[1] 76.24959

[[22]]
[1] 95.45156

[[23]]
[1] 62.61789

[[24]]
[1] 48.38388

[[25]]
[1] 69.04346

[[26]]
[1] 27.313

[[27]]
[1] 39.29377

[[28]]
[1] 24.28992

[[29]]
[1] 28.49561

[[30]]
[1] 85.63294

[[31]]
[1] 33.82307

[[32]]
[1] 134.447

[[33]]
[1] 73.76313

[[34]]
[1] 25.23886

[[35]]
[1] 103.6098

[[36]]
[1] 52.10566

[[37]]
[1] 47.79121

[[38]]
[1] 108.9036

[[39]]
[1] 30.51229

[[40]]
[1] 53.066

[[41]]
[1] 26.09598

[[42]]
[1] 64.59876

[[43]]
[1] 110.621

[[44]]
[1] 34.68429

[[45]]
[1] 21.72556

[[46]]
[1] 70.5762

[[47]]
[1] 59.65735

[[48]]
[1] 42.41462

[[49]]
[1] 67.74216

[[50]]
[1] 19.39072

In [82]:
aggregate(exampledf2$Population ~ exampledf2$chr, FUN = mean)

  exampledf2$chr exampledf2$Population
1 A              2538.5
2 B              4641.2
3 C              5364.2
4 D              2727.1
5 E              5961.1